.menu-component-container {
  width: 100%;
  height: 108px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.menu-component-menu {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.menu-component-image {
  height: 2rem;
}
.menu-component-nav {
  display: flex;
}
.menu-component-btn-group {
  width: 242px;
  height: 63px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.menu-component-container1 {
  width: 79px;
  height: 51px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.menu-component-image1 {
  width: 50px;
  object-fit: cover;
}
.menu-component-container2 {
  width: 160px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.circle-image img{
  width:100%;
  height:100%;
  object-fit: cover;
}



@media(max-width: 767px) {
  .menu-component-menu {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .menu-component-nav {
    display: none;
  }
  .menu-component-btn-group {
    display: none;
  }
}
@media(max-width: 479px) {
  .menu-component-menu {
    padding: var(--dl-space-space-unit);
  }
}
