:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 5000;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-radius-radius-cardraduis: 21px;
  --dl-space-space-oneandhalfunits: 24px;
  --menubackground: #129d30;
  --buttonbackground: #01020181;
  --cardresulthigh: #129d3075;
  --cardresulthighshadow: #129d30d0;
  --cardresultmedium: #129d30;
  --cardresultlow: #129d30;
}

.resultcard-high {
  background-color: var(--cardresulthigh);
  box-shadow: 5px 5px 10px 0px var(--cardresulthighshadow);

}
.resultcard-low {
  background-color: rgba(195, 80, 76, 0.33);
  box-shadow: 5px 5px 10px 0px #ad3333;
}
.resultcard-medium {
  background-color: rgba(171, 195, 76, 0.33);
  box-shadow: 5px 5px 10px 0px #99ad33;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 3px;
  border-radius: 7px;
  background-color:var(--menubackground);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
  resize: none;
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  resize: none;
  font-size:small;
  background: transparent;
}
.textinput {
  color: var(--dl-color-gray-black);
  cursor: auto;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  resize: none;
  background:transparent
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.image {
  padding-bottom: 50;
}
.menuecontainer {
  background-color: var(--menubackground);
}
.resultcard {
  gap: 15;
  width: 352px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #898282;
  align-items: center;
  border-width: 2;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  
}
.WritingResultHeaderContainer {
  width: 100%;
  height: 120;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.WritingResultScoreContainer {
  width: 100%;
  height: 80;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.WritingResultCommentContainer {
  flex: 1;
  width: 100%;
  border: inherit;
  height: 425px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.WritingResultImprovementsContainer {
  gap: 15;
  width: 512px;
  height: 501px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(157, 143, 143, 0.28);
}
.OlContainerContent {
  height: 632px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(212, 212, 212, 0.23);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-cardraduis);
  justify-content: flex-start;
}
.PriceCard {
  width: 320px;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 2px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
  border-radius: var(--dl-radius-radius-cardraduis);
}
.price-card-plan-header-container {
  width: 100%;
  height: 10%;
  align-items: center; 
  flex-direction: column;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}
.price-card-plan-header-text {
  font-size: 25px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15;
  align-self: center;
  text-align: center;
}

.price-card-plan-price-container {
  width: 100%;
  height: 20%;
  align-items: center; 
  flex-direction: column;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.price-card-plan-features-container {
  width: 100%;
  height: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center; 
  flex-direction: column;
  justify-content: space-evenly;
  display: flex
}
.price-card-plan-feature-container {
  width: 100%;
  align-items: center; 
  flex-direction: row;
  display:flex
}
.price-card-plan-feature-name-container {
  align-items: center; 
  width: 50%;
}
.price-card-plan-feature-name-text {
  font-size: 14px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15;
  align-self: center;
  text-align: center;
}

.price-card-plan-feature-value-container {
  align-items: center; 
  width: 50%;
}
.price-card-plan-feature-value-text {
  font-size: 15px;
  font-family: Courier New;
  font-weight: normal;
  line-height: 1.15;
  align-self: center;
  text-align: center;
}
.price-card-plan-feature-value-text-gray {
  color: #939191;
}

.price-card-plan-feature-value-text-green {
  color: var(--menubackground);
  font-weight: bold;
}

.price-card-plan-button-container {
  width: 100%;
  height: 10%;
  align-items: center; 
  flex-direction: column;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.price-card-plan-price-text {
  font-size: 42px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15;
  align-self: center;
  text-align: center;
}
.price-card-plan-price-text-description {
  font-size: 10px;
  font-family: Courier New;
  align-self: center;
  text-align: center;
}

.PriceCard:hover {
  transform: scale(1.02);
}
.res {
  width: 1600px;
  height: 640px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.MenuText {
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  text-decoration: underline;
}
.Heading {
  font-size: 25px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  align-self: center;
  text-align: center;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.ComentText {
  font-size: 16px;
  font-family: Courier New;
  font-weight: 200;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.container-text-result-textarea {
  width: 100%;
  height: 100%;
  font-family: Courier New;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(255, 255, 255, 0);
}

@media(max-width: 767px) {
  .PriceCard {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}


.mycontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.estimation-container-container {
  gap: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 2%;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.overall-container-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.improvements-container-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 2%;
  border-radius: var(--dl-radius-radius-cardraduis);
  flex-direction: row;
  justify-content: center;
}

.improvement-card-container {
  width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #898282;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

.improvement-card-container-blured {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 0px;
  border-radius: var(--dl-radius-radius-cardraduis);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(213, 213, 211, 0.734);
  box-shadow: 5px 5px 10px 0px #898282;
  z-index: 20;
  visibility: hidden;
}
.improvement-card-container:hover .improvement-card-container-blured{
  visibility: visible;
  z-index: 45;
}

.speaking-transcription-container {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaking-transcription {
  width: 70%;
  height: 100px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.blured {
  color: transparent;
  text-shadow: 0 0 15px rgb(1, 1, 1);
}

/* Logo text */
.logo-text {
  font-size: 40px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15;
}
.container-header-text {
  font-size: 40px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15
}

.container-description-text {
  font-size: 32px;
  font-family: Courier New;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  align-self: center;
  text-align: center;
}

.container-description-image-text {
  font-size: 18px;
  font-family: Courier New;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  align-self: center;
  font-style: normal;
  text-align: center;
}
