@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap);

:root {
  --resultcard-high: #048010a3;
  --resultcard-medium: #6f9f449c;
  --resultcard-low: #cb3f3f;
}
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-loading .slick-list {
  background: #fff url(ajax-loader.gif) center center no-repeat
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-prev {
  left: -25px
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto
}

.slick-prev:before {
  content: '<<'
}

[dir=rtl] .slick-prev:before {
  content: '>>'
}

.slick-next {
  right: -25px
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px
}

.slick-next:before {
  content: '>>'
}

[dir=rtl] .slick-next:before {
  content: '<<'
}

.slick-dotted.slick-slider {
  margin-bottom: 30px
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 40px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

li {
  list-style-type: none
}

button {
  cursor: pointer;
  outline: 0 none !important
}

body::-webkit-scrollbar {
  width: 3px
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

body::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  outline: 1px solid #708090
}

.slick-slide img:focus {
  outline: 0 !important
}

.slick-slide:focus {
  outline: 0 !important
}

.towar-box-sec5 a {
  outline: 0 !important
}

.slick-slide {
  outline: 0 !important
}

.slick-slide p {
  outline: 0 !important
}

.slick-slide a {
  outline: 0 !important
}

.slick-slide div {
  outline: 0 !important
}

.slick-track {
  outline: 0 !important
}

input {
  outline: 0 none !important;
  font-family: "Space Grotesk", sans-serif
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

button {
  font-family: "Space Grotesk", sans-serif
}

select {
  cursor: pointer;
  outline: 0 none !important;
  font-family: "Space Grotesk", sans-serif
}

textarea {
  outline: 0 none !important;
  font-family: "Space Grotesk", sans-serif
}

body {
  background: #fff;
  font-family: "Space Grotesk", sans-serif;
  color: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

ul {
  margin-bottom: 0
}

.app {
  overflow: hidden;
  min-width: 260px
}

.container {
  width: 1300px;
  margin: 0 auto
}

.main {
  padding-top: 74px
}

@media only screen and (max-width:1350px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%
  }
}

@media only screen and (max-width:1000px) {
  .main {
    padding-top: 70px
  }
}

.header {
  background: #fff;
  -webkit-box-shadow: 0 4px 52px 0 rgba(0, 0, 0, .07);
  box-shadow: 0 4px 52px 0 rgba(0, 0, 0, .07);
  padding: 15px 0;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.header__nav-element {
  margin: 0 32.5px
}

.header__nav-link {
  font-size: 20px;
  color: #000
}

.btnV1 {
  padding: 9px 48px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 500;
  background: #00d884;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block
}

.header__left {
  display: none
}

.header__logo {
  width: 120px;
  display: block
}

.header__logo-img {
  width: 100%;
  display: block
}

.mob-nav {
  display: none
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.user__image {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.user__name {
  font-size: 16px;
  margin-left: 10px;
  color: #5a5a5a;
  margin-right: 20px
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

@media only screen and (max-width:1000px) {
  .header__left {
    display: block;
    width: calc(50% - 60px)
  }

  .header__right {
    width: calc(50% - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .header .btnV1 {
    padding: 9px 30px;
    font-size: 16px;
    line-height: 1
  }

  .header__nav {
    display: none;
  }


  .mob-nav {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: #fff;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 100px;
    -webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
    -webkit-transition: all ease .8s;
    transition: all ease .8s
  }

  .mob-nav__close {
    position: absolute;
    right: 30px;
    top: 30px
  }

  .mob-nav__nav-list .header__nav-element {
    margin-bottom: 30px;
    text-align: center
  }

  .activ-mob-nav {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

@media only screen and (max-width:750px) {
  .user__name {
    font-size: 12px;
    display: none
  }

  .btnV1 {
    font-size: 16px;
    padding: 9px 36px
  }

  .user {
    margin-right: 30px
  }

  .header__logo {
    width: 80px
  }
}

@media only screen and (max-width:500px) {
  .header__left {
    width: auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
  }

  .header__right {
    width: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
}

@media only screen and (max-width:410px) {
  .user {
    margin-right: 15px
  }

  .header .btnV1 {
    font-size: 14px;
    padding: 8px 20px
  }

  .header__burger svg {
    width: 30px;
    height: 30px
  }
}

.front-sec {
  padding-top: 68px;
  padding-bottom: 102px
}

.title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.main-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  color: #000
}

.title-row__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  padding-left: 25px;
  border-left: solid 1px #dcdcdc
}

.title-row__img {
  width: 100px;
  display: block
}

.front-sec__description {
  margin-top: 43px;
  max-width: 380px
}

.main-description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #5a5a5a;
  margin-left: auto;
  margin-right: auto
}

.front-sec__btn-row {
  margin-top: 45px
}

.btn-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.how-it-work {
  padding: 112px 0;
  background: #f9f9f9
}

.how-it-work__description {
  max-width: 520px;
  margin-top: 43px
}

.how-it-work__row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;
  justify-content: center;
}

.how-it-work__element {
  width: calc(33.333% - 30px);
  margin: 0 15px 30px 15px;
  /* c: #fff; */
  padding: 26px 70px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.how-it-work__icon {
  height: 110px;
  display: block
}

.how-it-work__title {
  margin-top: 19px;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  width: 100%
}

.how-it-work__btn-row {
  margin-top: 35px
}

.btnV2 {
  font-weight: 500;
  padding: 13px 74px;
  font-size: 30px;
  color: #fff;
  background: #00d884;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  border: none
}

.how-it-work2 {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff
}

.how-it-work2 .how-it-work__element {
 
}

.text-area-result {
  background-color: rgba(255, 255, 255, 0);
  height: 150px;
  width: 100%;
  padding: 24px 113px 20px 38px;
  font-family: "Space Grotesk", sans-serif;
  resize: none;
  border: none
}
.prices {
  background: #fff;
  padding-bottom: 106px
}

.title-row__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px
}

.prices__row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;
  align-items: center;
  justify-content: center;
}

.prices__element {
  width: calc(50% - 30px);
  margin: 0 15px 30px 15px;
  border-radius: 12px;
  background: #f9f9f9;
  padding: 37px 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.prices__title {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  width: 100%
}

.prices__cost-row {
  margin-top: 27px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.prices__cost {
  display: block;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1
}
.prices__cost_old {
  display: block;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: red;
  text-decoration:line-through;
}

.prices__date {
  display: block;
  margin-left: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  border-bottom: 2px solid #00d884;
  padding-bottom: 7px;
  line-height: 1
}

.prices__list-services {
  width: 100%;
  margin-top: 39px
}

.prices__list-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 27px
}

.prices__name {
  width: 50%;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px
}

.prices__value {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #5a5a5a;
  width: 50%;
  text-align: right
}

.prices__btn-row {
  margin-top: 60px;
  width: 100%
}

.prices__btn {
  width: 100%;
  padding: 19px 0;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  border: solid 1px #fff;
  border-radius: 12px;
  color: #fff;
  background: #00d884
}

.btnV3 {
  background: 0 0;
  border: solid 1px #000;
  color: #000
}

.prices__value_yes {
  color: #00d884
}

@media only screen and (max-width:1200px) {
  .main-title {
    font-size: 45px
  }

  .main-description {
    margin-top: 30px;
    font-size: 20px
  }

  .title-row__img {
    width: 70px
  }

  .btn-row {
    margin-top: 30px
  }

  .front-sec {
    padding-top: 40px;
    padding-bottom: 50px
  }

  .how-it-work {
    padding: 50px 0
  }

  .how-it-work__element {
    padding-left: 30px;
    padding-right: 30px
  }

  .how-it-work__icon {
    height: 70px
  }

  .how-it-work__title {
    font-size: 20px
  }

  .btnV2 {
    font-size: 18px;
    padding: 15px 40px
  }

  .how-it-work__row {
    margin-top: 30px
  }

  .btn-row {
    margin-top: 15px
  }

  .how-it-work2 {
    padding: 50px 0;
    padding-bottom: 80px
  }

  .title-row__text {
    font-size: 20px
  }

  .prices__element {
    padding: 30px
  }

  .prices__title {
    font-size: 32px
  }

  .prices__cost {
    font-size: 40px
  }
  .prices__cost_old {
    font-size: 30px;
    color: red;
    text-decoration:line-through;
  }

  .prices__date {
    font-size: 18px
  }

  .prices__name {
    font-size: 20px
  }

  .prices__value {
    font-size: 20px
  }

  .prices__list-services {
    margin-top: 25px
  }

  .prices__list-element {
    margin-top: 20px
  }

  .prices__btn {
    font-size: 18px;
    padding: 16px 0
  }

  .prices {
    padding-bottom: 50px
  }

  .btn-row {
    margin-top: 30px
  }
}

@media only screen and (max-width:1000px) {
  .main-title {
    font-size: 40px
  }

  .how-it-work__element {
    padding-left: 10px;
    padding-right: 10px
  }

  .prices__element {
    width: calc(50% - 10px)
  }

  .prices__row {
    margin-top: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

@media only screen and (max-width:750px) {
  .main-title {
    font-size: 28px;
    width: 100%;
    text-align: center
  }

  .title-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .title-row__right {
    padding: 0;
    margin-left: 0;
    border: none;
    margin-top: 20px
  }

  .main-description {
    margin-top: 20px;
    font-size: 18px
  }

  .how-it-work__element {
    width: calc(100% - 30px)
  }

  .how-it-work__element:last-child {
    margin-bottom: 0
  }

  .title-row__text {
    padding: 0;
    font-size: 18px
  }

  .prices__element {
    width: calc(100% - 30px);
    padding: 20px
  }

  .prices__title {
    font-size: 26px
  }

  .prices__name {
    font-size: 16px
  }

  .prices__value {
    font-size: 16px
  }

  .prices__btn {
    font-size: 16px;
    line-height: 1;
    padding: 14px 0
  }

  .prices__btn-row {
    margin-top: 30px
  }

  .prices__cost {
    font-size: 34px
  }
  .prices__cost_old {
    font-size: 24px;
    color: red;
    text-decoration:line-through;
  }
}

.sec-test {
  padding-top: 42px;
  padding-bottom: 83px
}

.container-test {
  max-width: 770px;
  margin: 0 auto
}

.sec-test__field {
  width: 100%;
  padding: 24px 113px 20px 38px;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 12px;
  box-shadow: 1px 1px 2px 0px #898282;
  resize: none;
  border: none
}

.sec-test__field-white {
  background: #fff;
  -webkit-box-shadow: 0 4px 52px 0 rgba(0, 0, 0, .07);
  box-shadow: 0 4px 52px 0 rgba(0, 0, 0, .07);
  height: 200px
}

.sec-test__btn-row {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.btnTest {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 9px 0;
  text-align: center;
  width: 150px;
  border-radius: 100px;
  border: solid 1px #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  background: 0 0;
  margin: 2%
}

.sec-test__field-grey {
  margin-top: 70px;
  min-height: 344px;
  background: #f9f9f9
}

.sec-test__field-grey-transcription {
  min-height: 200px;
  background: #f9f9f9;
  margin-bottom: 30px;
}

.sec-test__counter {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.4px;
  /* margin-right: 52px */
}

.sec-info {
  padding-bottom: 83px
}

.sec-info .title-row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.sec-info__elements-wrapper {
  margin-top: 50px
}

.sec-info__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 90px 117px 50px;
  box-shadow: 1px 1px px 0px #898282;
  border-radius: 12px;
  background: #f9f9f9;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden
}

.sec-info__element .sec-info__element-error {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  color: #000;
  color: transparent;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px)
}

.sec-info__element .sec-info__element-error:hover {
  color: #000;
  background: rgba(255, 255, 255, .8)
}

.sec-info__left {
  width: 253px;
  height: 100%;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sec-info__title-element {
  font-size: 35px;
  font-style: normal;
  font-weight: 500
}

.sec-info__nam-element {
  color: #000000;
  font-size: 52.645px;
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s
}

.sec-info__rignt {
  width: calc(100% - 253px);
  padding-left: 80px;
  position: relative;
  z-index: 1
}

.sec-info__text-element {
  font-size: 16px;
  font-style: normal;
  font-weight: 300
}

.sec-info__element-error {
  display: none;
  -webkit-transition: all ease .3s;
  transition: all ease .3s
}

.container-info {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto
}

.only-login-user {
  -webkit-transition: all ease .5s;
  transition: all ease .5s
}

.only-login-user .sec-info__element-error {
  display: none
}

.only-login-user .sec-info__nam-element {
  color: #000
}

.sec-info__counter {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-top: 40px;
  text-align: center
}

.sec-info__counter span {
  color: #000000
}

.recommend-sec {
  padding-bottom: 130px
}

.microphone {
  width: 82px;
  height: 82px;
  margin: 0 22.5px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #00d884;
  cursor: pointer
}

.sec-info {
  display: none
}

.sec-info_active {
  display: block
}

@media only screen and (max-width:1200px) {
  .container-info {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
  }

  .sec-info__elements-wrapper {
    margin-top: 30px
  }

  .sec-info__element {
    padding-right: 0;
    padding-bottom: 50px
  }

  .sec-info__rignt {
    padding-left: 50px
  }

  .sec-info__element-error {
    font-size: 40px
  }

  .sec-info__element {
    padding: 30px
  }

  /* .sec-info__element .sec-info__element-error {
    color: #000
  } */
}

@media only screen and (max-width:1000px) {
  .container-test {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
  }

  .sec-test__field-white {
    padding-left: 25px;
    padding-right: 25px
  }

  .sec-test__field-grey {
    min-height: 240px;
    padding-left: 25px;
    padding-right: 25px
  }

  .sec-info__rignt {
    padding-left: 20px
  }

  .sec-info__counter {
    font-size: 30px;
    margin-top: 30px
  }

  .recommend-sec {
    padding-bottom: 83px
  }
}

.resultcard-high {
  background-color: #129d3075;
  box-shadow: 1px 1px 2px 0px #129d30d0;
}
.resultcard-medium {
  background-color: rgba(171, 195, 76, 0.33);
  box-shadow: 1px 1px 2px 0px #99ad33;
}
.resultcard-low {
  background-color: rgba(195, 80, 76, 0.33);
  box-shadow: 1px 1px 2px 0px #ad3333;
}

@media only screen and (max-width:750px) {
  .btnTest {
    font-size: 16px;
    width: 110px;
    margin: 2%
  }

  .sec-test__btn-row {
    margin-top: 20px
  }

  .sec-test {
    padding-top: 30px;
    padding-bottom: 50px
  }

  .sec-test__field-grey {
    margin-top: 50px
  }

  .sec-test__counter {
    font-size: 16px
  }

  .sec-test__btn-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center
  }

  .sec-info__element {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .sec-info__title-element {
    font-size: 24px
  }

  .sec-info__left {
    width: 100%
  }

  .sec-info__nam-element {
    font-size: 36px
  }

  .sec-info__rignt {
    width: 100%;
    padding-left: 0;
    margin-top: 30px
  }

  .only-login-user .sec-info__element-error {
    font-size: 26px;
    text-align: center;
    padding: 20px
  }

  .sec-info__counter {
    font-size: 26px;
    margin-top: 20px
  }

  .sec-info__element .sec-info__element-error {
    font-size: 24px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px
  }

  .microphone {
    margin: 0 auto;
    width: 50px;
    height: 50px
  }

  .microphone svg {
    width: 35px;
    height: 35px
  }
}

.footer {
  background: #f9f9f9;
  padding-top: 64px;
  padding-bottom: 81px
}

.container-footer {
  margin: 0 auto;
  width: 1056px
}

.footer__nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.footer__nav-element {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.4px
}

.footer__nav-link {
  color: #000
}

.footer__description {
  margin-top: 75px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center
}

.footer__copy {
  margin-top: 65px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.272px;
  text-align: center
}

@media only screen and (max-width:1100px) {
  .container-footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
  }
}

@media only screen and (max-width:1000px) {
  .footer {
    padding-bottom: 30px;
    padding-top: 30px
  }

  .footer__description {
    margin-top: 40px;
    font-size: 12px
  }

  .footer__copy {
    margin-top: 40px;
    font-size: 16px
  }

  .footer__nav-element {
    font-size: 16px
  }
}

@media only screen and (max-width:600px) {
  .footer__nav-list {
    display: block;
    text-align: center
  }

  .footer__nav-list li {
    margin-bottom: 20px
  }

  .footer__description {
    margin-top: 30px;
    font-size: 10px
  }

  .footer__copy {
    margin-top: 30px;
    font-size: 14px
  }
}

.air-conteiner {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: -100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  top: 0;
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
  opacity: 0
}

.air-conteiner_active {
  z-index: 99999;
  background: rgba(0, 0, 0, .7);
  opacity: 1
}

.air-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: 555;
  cursor: pointer;
  background: url(https://i.ibb.co/x21fyFk/close-icg.png) no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s
}

.air-close:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.popup-air {
  position: absolute;
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
  -webkit-transform: translateY(100vh) scale(.4) skew(30deg, 20deg);
  -ms-transform: translateY(100vh) scale(.4) skew(30deg, 20deg);
  transform: translateY(100vh) scale(.4) skew(30deg, 20deg);
  opacity: 0
}

.air-popup_active {
  -webkit-transform: translateY(0) scale(1) skew(0deg, 0deg);
  -ms-transform: translateY(0) scale(1) skew(0deg, 0deg);
  transform: translateY(0) scale(1) skew(0deg, 0deg);
  opacity: 1
}

.slider-wrapper-gg {
  max-width: 1200px
}

.loader-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 1%;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #15be4a; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}